@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #333;
    background-color: #cccccc;
    background-image: url(img/machine.jpg);
    background-repeat:no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, .footer {
    padding: 30px 0px 0px 0px;
    font-style: Raleway;
    text-align: center;
}

#quoteDisplay {
    margin: 100px 80px 50px 80px;
    background-color: lightblue;
    padding: 70px;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 500;
    font-style: oblique;
    text-align: center;
}

.buttons {
    width: 450px;
    margin: auto;
    display: block;

}


#quote {
    background-color: #EE2007;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: left;
    font-size: 20px;  
}

#tweet {
    display: inline-block;
    float: right;
    height: 38px;
    padding: 10px;
    text-align: center;
    color: #00A3F0;
}

.footer {
    margin: 200px 0px 0px 0px;
    font-size: 16px;
}

.footer a {
    color: #EE2007;
}