@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #333;
    background-color: #cccccc;
    background-image: url(img/machine.jpg);
    background-repeat:no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: dotted 1px red;
}

h1 {
    font-size: 22px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

h1, .footer {
    padding: 10px 0px 0px 0px;
    text-align: center;
    border: dotted 1px red;
}

#quoteDisplay {
    margin: 80px 15%;
    background-color: lightblue;
    padding: 35px;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    font-weight: 500;
    font-style: oblique;
    text-align: center;
    border: dotted 1px red;
}

.buttons {
    width: 300px;
    margin: auto;
    display: block;
    border: dotted 1px red;

}

#quote {
    background-color: #EE2007;
    border: none;
    color: #fff;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    float: left;
    font-size: 20px; 
    border: dotted 1px red; 
}

#tweet {
    float: right;
    height: 38px;
    padding: 10px;
    text-align: center;
    color: #00A3F0;
    border: dotted 1px red;
}

.footer {
    margin-top: 35%;
    position: relative;
    padding: 1rem;
    background-color: #CCCCCC;
    text-align: center;
    font-size: 16px;
    color: #EE2007;
}

.footer a {
    color: #EE2007;
}